.home {
    /* background-image: url('path/to/hero-image.jpg'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

.home__container__left {
    width: 50%;
    color: #ff34dd;
}

.home__container__left h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.home__container__left p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.home__container__left__button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.home__container__left__button:hover {
    background-color: #000;
    color: #ff00fb;
}
