

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgb(158, 29, 145);
    border-radius: 10px;
    margin-top: 150px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4vh;
}

label input {
    flex-grow: 1;
    margin-left: 10px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.log-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  max-width: 200px;
  padding: 10px;
  margin-top: 10px;
  background-color: #ff00e1;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


a {
  color: #007bff;
  text-decoration: none;
}

 a:hover {
  text-decoration: underline;
}

 .forgot-password {
  margin-top: 20px;
}

.forgot-password p {
  margin-bottom: 10px;
}

.forgot-password input {
  margin-bottom: 10px;
}

 .forgot-password button {
  margin-top: 10px;
}
.aloo{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 20px auto;

}
.bt1 {
  margin: 12px;
  padding: 7px;
  border-radius: 20px;
  background-color: #ff00e1;
  color: #fff;
  border: none;
  transition: transform 0.3s ease;
}

.bt1:hover {
  transform: scale(1.1);
}

.bt2{
margin: 12px;
padding: 5px 20px;
border-radius: 20px;
background-color: #ff00e1;
color: #fff;
border: none;
transition: transform 0.3s ease;
}
.bt2:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  /* Add your CSS rules for smaller screens here */
  .aloo {
    max-width: 300px;
  }

  .bt1,
  .bt2 {
    margin: 8px;
    padding: 5px 15px;
  }
}
