.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .box {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  .text-danger {
    color: red;
    margin-top: 10px;
  }
  
  .text-muted {
    margin-top: 20px;
    font-size: 0.8rem;
  }
  
  .text-muted a {
    color: #007bff;
    text-decoration: none;
  }
  
  .text-muted a:hover {
    text-decoration: underline;
  }